*{
    margin: 0px;
    padding:0px
}
.big
{
    background: linear-gradient(to bottom, #304352, #d7d2cc);
    height: 700px;
}
.box1
{
    border: 0px solid black;
    box-shadow: 0px 10px 20px;
    background-color:white;
}
.box1:hover
{
    background-color: black;
    color: white;
}
.box2
{
    margin-top: 50px;
    border: 2px solid;
    background-color: rgba(50, 50,50,0.4);
    color: white;
    
}
.box2:hover
{
    background-color: black;
    color: white;
}
.pic
{
    height: 200px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 550px;
}
.move
{
   
    margin-top: 70px;
    margin-left: 550px;
}
@media only screen and (max-width:600px){
    .move
{
  margin-top: 40px;
  margin-left: 170px;
}
.pic
{
    height: 150px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 190px;
}

}
